* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 70spx;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
    grid-area: theHeadline;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
    grid-area: headerImage;
    
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-template-areas:
        "theHeadline theHeadline studentPic"
        "sQuote sQuote studentPic"
        "sProfile sProfile sContact"
        "exGrid exGrid exGrid"
        
    ;
   height: 100vh;

    row-gap: 20px;
    column-gap: 50px;
}
#student-quote{
    grid-area: sQuote;
}
#student-profile
{
    grid-area: sProfile;
}
#student-contact
{
    justify-items: center;
    grid-area: sContact;
    
}
#experience-grid
{

    grid-area: exGrid;
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "exCode exCode"
        "exDatabase exDatabase"
        "exWeb exDesign"
    
       
    ;
  
}
#experience-code{
     grid-area: exCode;
}

#experience-database
{
    grid-area: exDatabase;
}
#experience-web
{
    grid-area: exWeb;
}
#experience-design{
    grid-area: exDesign;
}

#student-picture{
    justify-items: center;
    border-radius: 50%;
    grid-area: studentPic;
   
}
