body,
header,
.logo,
ul,
li,
#featured section article div,
#all-items section,
#all-items section article {
display: flex;


}
body,
#all-items section {
  flex-direction: column;
}

body {
  margin: 20px;
  padding: 0
}

header {
  background-color: #F0F0F0;
  padding: 20px;
  flex-basis: auto;
  

  
  
}

.logo {
  width: 140px;
  align-items: top;

}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
 
  

  
  
}

li {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #707070;
  padding: 0 20px 0 0;
  margin-left: 20px;
  justify-items: left;
  align-content: end;
  
  
  
 
  
  

}

a,
a:visited {
  color: #707070;
  text-decoration: none;
  
  
}

a:hover {
  color: #00AFEF;
  text-decoration: underline;
}
.spacer{

  flex-basis: auto;
}

